In [1]:
import pandas as pd
import os
import json
import plotly.express as px
import plotly.graph_objects as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot 
init_notebook_mode(connected=True)


import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output

In [2]:
df= pd.read_html("https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_GDP")

In [3]:
len(df)

8

In [4]:
nominal_gdp = df[1]
gdp_by_year= df[3]
gdp_by_year_old= df[4]
nominal_gdp_growth_rate = df[5]

In [5]:
nominal_gdp.rename(columns={"Data year[3][4][5][inconsistent]":"data_year" }, inplace=True)

In [7]:
nominal_gdp_1= nominal_gdp
nominal_gdp_1['gdp_usd_billions']=nominal_gdp_1['Nominal GDP₹ lakh crore = INR trillions;USD billions']

In [8]:
nominal_gdp_1['gdp_nominal_lakh_crore']= nominal_gdp_1['Nominal GDP₹ lakh crore = INR trillions;USD billions'].apply(lambda x: x.split(" ")[0])
nominal_gdp_1['gdp_nominal_lakh_crore']= nominal_gdp_1['gdp_nominal_lakh_crore'].apply(lambda x: x.split("₹")[1])
nominal_gdp_1['gdp_usd_billions']= nominal_gdp_1['gdp_usd_billions'].apply(lambda x: x.split("$")[1])
nominal_gdp_1['gdp_usd_billions']= nominal_gdp_1['gdp_usd_billions'].apply(lambda x: x.split(' ')[0])

In [9]:
nominal_gdp_1.drop(columns=['Nominal GDP₹ lakh crore = INR trillions;USD billions'], inplace=True)

In [10]:
nominal_gdp_1["data_year"] = nominal_gdp_1["data_year"].apply(lambda x: x.split("–")[0])
nominal_gdp_1["data_year"] = nominal_gdp_1["data_year"].apply(lambda x: x.split("-")[0])
nominal_gdp_1["gdp_usd_billions"] = nominal_gdp_1["gdp_usd_billions"].apply(lambda x: x.split(")")[0])
nominal_gdp_1["gdp_usd_billions"] = nominal_gdp_1["gdp_usd_billions"].apply(lambda x: x.split("billion")[0])
nominal_gdp_1

,Rank,State/Union Territory,data_year,gdp_usd_billions,gdp_nominal_lakh_crore
0,1,Maharashtra,2019,400,28.78
1,2,Tamil Nadu,2019,260,18.46
2,3,Uttar Pradesh,2019,250,17.94
3,4,Karnataka,2019,240,16.99
4,5,Gujarat,2018,210,15.03
5,6,West Bengal,2019,180,12.54
6,7,Rajasthan,2019,140,10.21
7,8,Andhra Pradesh,2019,140,9.73
8,9,Telangana,2019,140,9.69
9,10,Madhya Pradesh,2019,130,9.09
10,11,Delhi,2019,120,8.56
11,12,Haryana,2019,120,8.31
12,13,Kerala,2018,110,7.82
13,14,Bihar,2019,86,6.12
14,15,Punjab,2019,81,5.75
15,16,Odisha,2019,74,5.31
16,17,Chhattisgarh,2019,46,3.29
17,18,Jharkhand,2019,46,3.29
18,19,Assam,2018,44,3.16
19,20,Uttarakhand,2018,34,2.46
20,21,Himachal Pradesh,2019,23,1.65
21,22,Jammu and Kashmir,2018,22,1.56
22,23,Goa,2019,10,0.731
23,24,Tripura,2019,6.5,0.461
24,25,Chandigarh,2018,5.9,0.421
25,26,Puducherry,2019,5.7,0.408
26,27,Meghalaya,2019,5.1,0.366
27,28,Sikkim,2019,4.6,0.325
28,29,Manipur,2018,3.9,0.279
29,30,Arunachal Pradesh,2018,3.4,0.246
30,31,Nagaland,2018,3.8,0.273
31,32,Mizoram,2018,2.7,0.195
32,33,Andaman and Nicobar Islands,2017,1.1,0.079

# end of processing for nominal gdp_per_year_1, this is the final product
 preprocessing gdp by year

In [11]:
gdp_by_year = gdp_by_year.merge(gdp_by_year_old, on=['State/union territory'])
gdp_by_year.columns= gdp_by_year.columns.astype(str)

In [12]:
gdp_by_year.rename(columns = {"2011–12 in ₹ crore":"2011",
                            "2012–13 in ₹ crore":"2012",
                            "2013–14 in ₹ crore":"2013",
                            "2014–15 in ₹ crore":"2014",
                           "2015–16 in ₹ crore":"2015",
                           "2016–17 in ₹ crore":"2016",
                           "2017–18 in ₹ crore":"2017",
                           "2018–19 in ₹ crore":"2018",
                           "2019–20 in ₹ crore":"2019",
                           "2020–21 in ₹ crore":"2020",
                              '2001–02':'2001',
                              '2002–03':'2002',
                              '2003–04':'2003',
                              '2004–05':'2004',
                              '2005–06':'2006',
                              '2006–07':"2007",
                              '2007–08':'2008',
                              '2008–09':'2009',
                              '2009–10':'2010'
                             }, inplace=True)
gdp_by_year.columns
gdp_by_year_lakh_crore= gdp_by_year

In [13]:
nominal_gdp_growth = nominal_gdp_growth_rate
nominal_gdp_growth.set_index("State/union territory", inplace=True)
#make sure to comment this out if not running it the first time
nominal_gdp_growth.rename(columns={'2010–11':"2010",
                                        '2011–12':"2011",
                                        '2012–13':"2012",
                                       '2013–14': '2013',
                                       '2014–15':'2014',
                                        '2015–16':'2015',
                                        '2016–17': '2016',
                                        '2017–18': '2017',
                                        '2018-19':'2018',
                                        },
                         inplace=True)

In [14]:
nominal_gdp_growth = nominal_gdp_growth.apply(lambda x: x.replace("–","x"))

In [15]:
nominal_gdp_growth= nominal_gdp_growth.astype(str)
nominal_gdp_growth["2012"][6:7] = "-10"
nominal_gdp_growth["2013"][6:7] = "-5.8"
nominal_gdp_growth["2015"][10:11] = "19.10"
nominal_gdp_growth["2015"][11:12] = "-5.5" 

nominal_gdp_growth_for_absolute = nominal_gdp_growth

nominal_gdp_growth['2017'] = nominal_gdp_growth['2017'].replace("x", "10")
nominal_gdp_growth['2018'] = nominal_gdp_growth['2018'].replace("x", "11.2")

for columns in nominal_gdp_growth:
    nominal_gdp_growth[columns]= pd.to_numeric(nominal_gdp_growth[columns])

nominal_gdp_growth = nominal_gdp_growth.astype(float)

#same processing for the absolute dataframe


#nominal_gdp_growth_for_absolute['2017'] = nominal_gdp_growth_for_absolute['2017'].replace("x", "0")
#nominal_gdp_growth_for_absolute['2018'] = nominal_gdp_growth_for_absolute['2018'].replace("x", "0")

#for columns in nominal_gdp_growth_for_absolute:
#    nominal_gdp_growth_for_absolute[columns]= pd.to_numeric(nominal_gdp_growth_for_absolute[columns])

In [16]:
# squeeze converts the first row in a numpy array and then we can subtract that from the whole dataframe 
nominal_relative_gdp_growth = nominal_gdp_growth - nominal_gdp_growth.loc['India'].squeeze()

In [17]:
grd= pd.merge(pd.DataFrame(nominal_gdp_growth_for_absolute.reset_index()),
                              pd.DataFrame(nominal_relative_gdp_growth.reset_index()), 
                              on=['State/union territory'],
                             suffixes=["_a","_r" ])
grd.rename(columns ={"State/union territory": 'States'}, inplace=True)

# end of preprocessing,

growth rate dataset  and nominal_gdp_per_year_1 is the final final combined datasset. IT IS LABELLED GRD

prefinal dataframes are

nominal_gdp_growth_for_absolute

nominal_relative_gdp_growth

# plotting geojson file begin

In [18]:
india_states= json.load(open('states_india.geojson', 'r'))

In [19]:
state_id_map={}
for feature in india_states['features']:
    feature['id']=feature['properties']['state_code']
    state_id_map[feature['properties']['st_nm']]=feature['id']

In [20]:
set(state_id_map.keys()).difference(set(grd['States']))

{'Andaman & Nicobar Island',
 'Arunanchal Pradesh',
 'Dadara & Nagar Havelli',
 'Daman & Diu',
 'Jammu & Kashmir',
 'Lakshadweep',
 'NCT of Delhi'}

In [21]:
grd['States'][2] = "Arunanchal Pradesh"
grd['States'][33] = "Andaman & Nicobar Island"
grd['States'][31] = "NCT of Delhi"
grd['States'][10] = "Jammu & Kashmir"

<ipython-input-21-f55fcca0fb4d>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-21-f55fcca0fb4d>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-21-f55fcca0fb4d>:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-21-f55fcca0fb4d>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [22]:
to_append= {"Dadara & Nagar Havelli": ([0]*19), "Daman & Diu" :([0]*19), "Lakshadweep" : ([0]*19)}
to_append_1= pd.DataFrame(data= to_append)
to_append_2= to_append_1.T.reset_index()
trial= dict(zip(to_append_2.columns, grd.columns ))
to_append_2 = to_append_2.rename(columns=trial)
to_append_2

,States,2010_a,2011_a,2012_a,2013_a,2014_a,2015_a,2016_a,2017_a,2018_a,2010_r,2011_r,2012_r,2013_r,2014_r,2015_r,2016_r,2017_r,2018_r,18
0,Dadara & Nagar Havelli,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,Daman & Diu,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Lakshadweep,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [23]:
grd= pd.concat([grd,to_append_2], ignore_index=True)
grd.drop(axis=0, index=0, inplace=True)

In [24]:
#need to drop india otherwise this wont happen
grd['id']=grd['States'].apply(lambda x:state_id_map[x])

In [538]:
%%time
#checking if this all works, and yes it does.
fig=px.choropleth(grd,
                  geojson=india_states,
                  locations='id',
                  color='2011_r')
fig.update_geos(fitbounds='locations',
               visible=False)
plot(fig)

Wall time: 15.5 s

'temp-plot.html'

In [103]:
app= dash.Dash(__name__)

#APP LAYOUT

app.layout = html.Div([
    
    html.H1("this is the center aligned header of the page",
            style={'text-align':'center'}),
    
    dcc.Dropdown(id='Select_year',
                options=[
                    {"label": "2015", "value":2015},  
                    {"label": "2016", "value":2016} ],
                 multi=False, 
                 value=2015,  
                 style={'width':"40%"}
                ),
    
    html.Div(id='output container', children=[]),  
                                                  #callback outputs to children and figure
    html.Br(),
    
    dcc.Graph( id='name_of_graph', figure={})
    
    
    
])




@app.callback(
                [Output(component_id='output container', component_property='children')], #see html.Div
                [Output(component_id='name_of_graph', component_property='figure')], #see graph
                [Input (component_id='Select_year', component_property='value')]




#component property of each input is an argument of the function.
#here we have only one, the value selected from the dropdown menu
#this function is where the figure is plotted again everytime some value is selected
#the what the function returns goes inside the Output of the callback 
#so its important to make sure number and the order of arguments match



def update_graph(option_selected):
    print(option_selected)           #just good practice
    print(type(option_selected))     #just good practice
    
    container = "The year chosen by the you is : {}".format(option_selected) 
    #format fills the value in. this scentence will be connected to children and be displayed 
    
    # make a copy of the dataframe so as to not accidentalaly edit it
    #dff = df.copy()
    
    #rows filtering acc to the value selected by user
    #consider writing a second filter oputside this when needed
    #dff = dff[dff["Year"] == option_selected]
    
    #plotting the choropleth figure again
    #fig = px.choropleth(dff, the filtered dataframe)
    fig=px.choropleth(df,
                  geojson=india_states,
                  locations='id',
                  color='Density')
    fig.update_geos(fitbounds='locations',
               visible=False)

    
    #remember the order of the outputs
    return container, fig
    

    
    

if  __name__== '__main__':
    app.run_server(debug=False)

SyntaxError: invalid syntax (<ipython-input-103-44e20753f9e6>, line 48)

In [25]:
grd_1 = grd.copy()

In [61]:
relative = nominal_relative_gdp_growth.T
absolute = nominal_gdp_growth_for_absolute.T

In [62]:
relative['relative'] = 'relative'
absolute['absolute'] = 'absolute'
relative= relative.reset_index().rename(columns={"index":"year"})
relative.set_index('relative', inplace=True)
absolute = absolute.reset_index().rename(columns={"index":"year"})

In [65]:
absolute.set_index('absolute', inplace=True)

In [69]:
absolute = absolute.T
relative = relative.T

In [75]:
master = relative.join(absolute).T

In [81]:
master.reset_index().rename(columns={'index':'kind'})

State/union territory,kind,year,India,Andhra Pradesh,Arunachal Pradesh,Assam,Bihar,Chhattisgarh,Goa,Gujarat,...,Tamil Nadu,Telangana,Tripura,Uttar Pradesh,Uttarakhand,West Bengal,Chandigarh,Delhi,Puducherry,Andaman and Nicobar Islands
0,relative,2010,0,-1.63,1.93,-1.25,6.73,1.52,-3.28,2.27,...,3.26,11.12,-2.66,-3.99,0.06,-3.1,-5.68,-3.46,-12.26,-13.2
1,relative,2011,0,-2.52,2.05,-4.12,5.29,-4.51,-8.57,-1.76,...,-2.02,-3.78,1.66,-2.63,0.58,-2.86,0.19,1.72,-4.02,-6.54
2,relative,2012,0,-0.6,0.06,-4.2,0.5,-1.5,-23.8,3.9,...,0,-2.1,-1,-0.4,0.3,-0.16,1.3,0,-1.6,-2.7
3,relative,2013,0,-0.1,3.2,0.3,-0.7,3.5,-18.8,-1.5,...,0.3,-0.6,5.1,1.3,0.3,1.44,1.9,0.4,2.9,0.6
4,relative,2014,0,2.4,12.2,-0.9,-2.8,-4.1,22.1,3.1,...,-0.2,1,-3.9,-3.4,-2.7,-4.91,-4,0.5,-7.8,-1.9
5,relative,2015,0,5.5,-7.1,6.1,-2.7,-4.5,4.7,1.2,...,-0.7,3.8,14.9,2,-1.5,0.63,0,0.3,7.6,-0.3
6,relative,2016,0,3.9,-1.6,0.8,4.5,2.1,3,2.2,...,-2.8,3.2,4.34,-0.9,0.5,-1.36,-2.2,1.7,-0.9,-0.6
7,relative,2017,0,6.06,0,0,4.5,1.2,-0.53,4.02,...,2.3,4.1,0,0,1.2,4.56,0,1.2,0,0
8,relative,2018,0,4.03,0,0,0,5.56,0,2.3,...,0.22,0.8,0,0,0,6.61,0,0,0,0
9,absolute,2010,18.66,17.03,20.59,17.41,25.39,20.18,15.38,20.93,...,21.92,29.78,16,14.67,18.72,15.56,12.98,15.2,6.4,5.46
10,absolute,2011,15.77,13.25,17.82,11.65,21.06,11.26,7.2,14.01,...,13.75,11.99,17.43,13.14,16.35,12.91,15.96,17.49,11.75,9.23
11,absolute,2012,13.8,13.2,13.86,9.6,14.3,12.3,-10,17.7,...,13.8,11.7,12.8,13.4,14.1,13.64,15.1,13.8,12.2,11.1
12,absolute,2013,13,12.9,16.2,13.3,12.3,16.5,-5.8,11.5,...,13.3,12.4,18.1,14.3,13.3,14.44,14.9,13.4,15.9,13.6
13,absolute,2014,11,13.4,23.2,10.1,8.2,6.9,33.1,14.1,...,10.8,12,7.1,7.6,8.3,6.09,7,11.5,3.2,9.1
14,absolute,2015,10.4,15.9,3.3,16.5,7.7,5.9,15.1,11.6,...,9.7,14.2,25.3,12.4,8.9,11.03,10.4,10.7,18,10.1
15,absolute,2016,10.8,14.7,9.2,11.6,15.3,12.9,13.8,13,...,8,14,15.14,9.9,11.3,9.44,8.6,12.5,9.9,10.2
16,absolute,2017,10,16.06,10,10,14.5,11.2,9.47,14.02,...,12.3,14.1,10,10,11.2,14.56,10,11.2,10,10
17,absolute,2018,11.2,15.23,11.2,11.2,11.2,16.76,11.2,13.5,...,11.42,12,11.2,11.2,11.2,17.81,11.2,11.2,11.2,11.2

In [86]:
master.reset_index(inplace=True)
master = master.rename(columns={'index':'kind'})

In [94]:
master= master.set_index(['kind', 'year'])

KeyError: 'year'